@import "tailwindcss";

@theme {
  --color-background: #0f1418;
  --color-on-background: #dee3e8;
  --color-surface-container-high: #252b2e;
  --color-primary-container: #38bdf8;
  --color-on-surface: #dee3e8;
  --color-on-surface-variant: #bdc8d1;
  --color-outline-variant: #3e484f;
  --color-secondary: #bcc7de;
  --color-tertiary-container: #f1a02b;
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-secondary-container: #3e495d;
  --color-on-secondary-container: #aeb9d0;
  --color-surface-bright: #343a3e;
  --color-outline: #87929a;
  --color-secondary-fixed: #d8e3fb;
  
  --font-body-md: "Inter", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-label-md: "Inter", sans-serif;
  --font-h1: "Inter", sans-serif;
  --font-h2: "Inter", sans-serif;
  --font-h3: "Inter", sans-serif;
  --font-code: monospace;
}

@layer base {
  body {
    @apply bg-background text-on-background font-body-md antialiased;
  }
}

@layer utilities {
  .panel-bg {
    background-color: #1E293B;
    box-shadow: 0 10px 25px -5px rgba(2, 6, 23, 0.5), 0 8px 10px -6px rgba(2, 6, 23, 0.5);
  }
}
